.main {
  max-width: 90%;
  margin: auto;
}

.switch div {
  z-index: 1;
  color: #27ae60;
  font-weight: 700;
  top: 22px;
}

.stock-header {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}

.upload-stock-block {
  display: flex;
  justify-content: space-between;
}
.upload-stock-block div {
  margin-top: 5px;
  margin-right: 5px;
}

td,
th {
  text-align: center !important;
}
.date-range-footer{
  margin: 10px;
  float: right;
}

.back-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 

 

.switch { 
  position: relative;
  display: inline-block;
  width: 51px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider+div {
  display: none;
}

.slider:hover+div {
  position: absolute;
  display: flex;
  padding-top: 10px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;

}

input:checked+.slider {
  background-color: #27ae60;
}

input:focus+.slider {
  box-shadow: 0 0 1px #27ae60;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.stockSearchForm-inputs{
  display: flex;
  gap: 7px;
  margin: 18px 0;
}
.stockSearchForm-btn{
  display: flex;
  justify-content: center;
}


.bt-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between form elements */
}

.bt-form-field {
  flex: 1 1 45%; /* Each field takes 45% of the width in a row */
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
}

.bt-form-label {
  margin-bottom: 0.5rem; /* Gap between label and input */
}

.bt-form-input {
  /* Additional styles for inputs can go here */
}
