<div class="grid main">
  <p-card class="col-4">
    <ng-template pTemplate="header">
      <div class="upload-stock-block">
        <h2 class="pt-1 pl-2 mb-1">Upload Price</h2>
        <!-- <div>
          <p-button label="Search Stock" (click)="isSearchStockBtn()"></p-button>
        </div> -->
        <div class="mr-1">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isSearchStock">
            <span class="slider round"></span>
            <div>Search Stock</div>
          </label>
        </div>
      </div>
    </ng-template>
    <p-toast></p-toast>


    <ng-container *ngIf="isSearchStock ; else notSearchStock">
      <form [formGroup]="stockSearchForm">
        <div class="stockSearchForm-inputs">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Search Stock" pInputText [(ngModel)]="searchStocks"
              formControlName="searchStocks" />
          </span>
          <div class="card flex justify-content-center">
            <p-calendar #calender [(ngModel)]="dateRange" [maxDate]="maxDate" selectionMode="range"
              formControlName="dateRange" [showIcon]="true" [readonlyInput]="true">
              <ng-template pTemplate="footer">
                <div class="date-range-footer">
                  <p-button label="Ok" (click)="getDateRange($event, calender)"></p-button>
                </div>
              </ng-template>
            </p-calendar>
          </div>
        </div>
        <div class="stockSearchForm-btn">
          <p-button type="submit" label="Search Stock" [disabled]="!stockSearchForm.valid || dateRange.length == 1"
            (click)="searchStock()"></p-button>
        </div>
      </form>
    </ng-container>


    <ng-template #notSearchStock>
      <p-fileUpload name="demo[]" #fileUpload [multiple]="true" (uploadHandler)="onUpload($event,fileUpload)"
        [customUpload]="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </ng-template>



  </p-card>
  <p-card class="col-4">
    <ng-template pTemplate="header">
      <h2 class="pt-1 pl-2 mb-1">Upload Test Values</h2>
    </ng-template>
    <p-toast></p-toast>
    <p-fileUpload name="demo[]" #fileUploadForTestValues [multiple]="true"
      (uploadHandler)="onUploadTestValues($event,fileUploadForTestValues)" [customUpload]="true"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedTestValues.length">
          <li *ngFor="let file of uploadedTestValues">{{ file.name }} - {{ file.size }} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </p-card>

  <p-card class="col-4">
    <div>
      <div class="back-test">
        <h2 class="pl-2 mb-1" style="flex-grow: 2;">{{ isNewFormula ? 'Strategy 2' : 'Strategy 1' }}</h2>
        <div class="mr-1">
          <div class="form-input bt-form-field">
            <div style="margin-bottom: 10px;">Add Filters</div>

          <label class="switch">
            <input type="checkbox" [(ngModel)]="showFilters">
            <span class="slider round"></span>
           
          </label>
          </div>
        </div>
       


      </div>

     
      <!-- <p-button class="pt-1 mt-3" label="{{ showFilters ? 'Remove Filter' : 'Add Filter' }}" (click)="toggleFilters()"></p-button> -->

      <form *ngIf="showFilters" class="backTestForm bt-form-container" [formGroup]="backTestForm">
        <div class="form-input bt-form-field">
          <label class="bt-form-label">Total Sum (>=)</label>
          <input type="text" appTwoDigitDecimalWithNegative pInputText maxlength="10" placeholder="Total Sum" class="bt-form-input p-inputtext-sm" formControlName="totalSum" />
        </div>
      
        <div class="form-input bt-form-field">
          <label class="bt-form-label">Average Gain (>=)</label>
          <input type="text" pInputText appTwoDigitDecimalWithNegative maxlength="10" placeholder="Average Gain" class="bt-form-input p-inputtext-sm" formControlName="avgGain" />
        </div>
      
        <div class="form-input bt-form-field">
          <label class="bt-form-label">Win % (>=)</label>
          <input type="text" pInputText appTwoDigitDecimalWithNegative maxlength="10" placeholder="Win %" class="bt-form-input p-inputtext-sm" formControlName="winPercent" />
        </div>
      
        <div class="form-input bt-form-field">
          <label class="bt-form-label">No. of Negative Years (<=)</label>
          <input type="text" pInputText appTwoDigitDecimalWithNegative maxlength="10" placeholder="No. of Negative Years" class="bt-form-input p-inputtext-sm" formControlName="numNegativeYears" />
        </div>
      
        <div class="form-input bt-form-field" style="max-width: 50%;">
          <label class="bt-form-label">Max Negative % (>=)</label>
          <input type="text" pInputText appTwoDigitDecimalWithNegative maxlength="10" placeholder="Max Negative %" class="bt-form-input p-inputtext-sm" formControlName="maxNegativePercentage" />
        </div>

        

      </form>
      <div style="margin-top: 20px;display: flex;flex-flow: row wrap;justify-content: end;align-items: center;">
      <div class="mr-1" style="display: flex;align-items: center;">
        <div style="padding-right: 10px;display: inline-block;">Use BP Variation</div>
        <label  class="switch">
          <input type="checkbox" [(ngModel)]="isNewFormula">
          <span class="slider round"></span>
         
        </label>
      </div>
      <p-button class="pt-1 pl-5" label="Start Back Test"
        [disabled]="!testList.length && (!products.length || !stockData.length)"
        (click)="startBackTest(1)"></p-button>

        <p-button class="pt-1 pl-1" label="Backtest and Export"
        [disabled]="!testList.length && (!products.length || !stockData.length)"
        (click)="downloadInExcl()"></p-button>
      
      </div>
    </div>
  </p-card>
</div>

<div class="grid main">
  <div class="col-6" *ngIf="products.length">
    <p-card styleClass="mt-3">
      <ng-template pTemplate="header">
        <div class="stock-header">
          <h2 class="px-3 pt-3">Stock Table</h2>
          <i *ngIf="isSearchStock"  class="pi pi-download" style="font-size: 1.5rem;cursor: pointer;margin-left: auto;"
            (click)="downloadSearchStocks()"></i>
        </div>
      </ng-template>
      <p-table [value]="products" [paginator]="products.length > 5" [rows]="5"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:20%">Date </th>
            <th style="width:20%">Open </th>
            <th style="width:20%">High </th>
            <th style="width:20%">Low </th>
            <th style="width:20%">Close </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.period | date:'dd-MM-yyyy'}}</td>
            <td>{{product.open | number : '1.2-2'}}</td>
            <td>{{product.high | number : '1.2-2'}}</td>
            <td>{{product.low | number : '1.2-2'}}</td>
            <td>{{product.price | number : '1.2-2'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="col-6" *ngIf="stockData.length">
    <p-card styleClass="mt-3">
      <ng-template pTemplate="header">
        <div class="stock-header">
          <h2 class="px-3 pt-3">Stock Table</h2>
          <i   class="pi pi-download" *ngIf="isSearchStock" style="font-size: 1.5rem;cursor: pointer;margin-left: auto;"
          (click)="downloadSearchStocks()"></i>
        </div>
      </ng-template>
      <p-table [value]="stockData" [paginator]="stockData.length > 5" [rows]="5"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10, 25, 50]">
        <ng-template pTemplate="header">
          <tr>
            <th>Date </th>
            <th> Name </th> 
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.date | date:'dd-MM-yyyy'}}</td>
            <td>{{product.name}}</td> 
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <div class="col-6" *ngIf="testList.length">
    <p-card styleClass="mt-3">
      <ng-template pTemplate="header">
        <div class="stock-header">
          <h2 class="px-3 pt-3">Test Values</h2>
          <!-- <i class="pi pi-download" style="font-size: 1.5rem;cursor: pointer" (click)="exceldownload(2)"></i> -->
        </div>
      </ng-template>
      <p-table [value]="testList" [paginator]="testList.length > 5" [rows]="5"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10, 25, 50] ">
        <ng-template pTemplate="header">
          <tr>
            <th>Fall in Stock </th>
            <th>Limit Level </th>
            <th>Hld Day </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.fallInStock }}</td>
            <td>{{product.limitLevel }} </td>
            <td>{{product.hldDay }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<!-- showOutPutTable &&  -->
<div class="out-put main modified" *ngIf="outputList.length">
  <p-card styleClass="mt-3">
    <ng-template pTemplate="header">
      <div class="stock-header">
        <h2 class="px-3 pt-3" style="flex-grow: 1;">Output Table (Total results {{outputList.length}})</h2>
        <div class="mr-3">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isYearlySumEnabled">
            <span class="slider round"></span>
            <div>Add yearly summation</div>
          </label>
        </div>
        <i class="pi pi-download" style="font-size: 1.5rem;cursor: pointer;" (click)="downloadInExcl()"></i>
      </div>
    </ng-template>
    <p-table [value]="outputList" [paginator]="outputList.length > 5" [rows]="5"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5,10, 25, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th> Name </th>
          <th>Fall in Stock</th>
          <th>LimitLevel </th>
          <th>HoldingDay </th>
          <th>#OfDays </th>
          <th>TotalSum </th>
          <th>AvgGain </th>
          <th>Win% </th>
          <th>No. of. Negative years </th>
          <th>Max Negative percentage</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.nameOfStock}}</td>
          <td>{{product.fallInStock }}</td>
          <td>{{product.limitLevel}}</td>
          <td>{{product.hldDay}}</td>
          <td>{{product.totalDays}}</td>
          <td>{{product.totalRetSum}}</td>
          <td>{{product.avgGain}}</td>
          <td>{{product.winPercent}}</td>
          <td>{{product.numberOfNegativeYears}}</td>
          <td>{{product.maxNegativePercentage}}</td>
        </tr>
      </ng-template>

      <!-- <div class="flex justify-content-between mb-2">
        <div><i class="pi pi-angle-left cursor-pointer" style="font-size: 2rem" tooltipPosition="top" pTooltip="Prev"
            (click)="prevPage()"></i></div>
        <div><i class="pi pi-angle-right cursor-pointer" style="font-size: 2rem" pTooltip="Next" tooltipPosition="top"
            (click)="nextPage1()"></i></div>
      </div> -->

    </p-table>
  
  </p-card>
</div>
<div class="out-put main unmodified" style="max-width: 60%;" *ngIf="outputData.length">
  <p-card styleClass="mt-3">
    <ng-template pTemplate="header">
      <div class="stock-header">
        <h2 class="px-3 pt-3" style="flex-grow: 1;">Output Table </h2>
        <div class="mr-3">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isYearlySumEnabled">
            <span class="slider round"></span>
            <div>Add yearly summation</div>
          </label>
        </div>
        <i class="pi pi-download" style="font-size: 1.5rem;cursor: pointer;" (click)="downloadInExclForAll()"></i>
      </div>
    </ng-template>
    <p-table [value]="outputData" [paginator]="outputData.length > 5" [rows]="5"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5,10, 25, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th> Name </th>
          <th>Download </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.name}}</td>
          <td><i class="pi pi-download" style="font-size: 1.5rem;cursor: pointer"
              (click)="stockExceldownload(product.index)"></i></td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <div class="flex justify-content-between mb-2">
      <div><i class="pi pi-angle-left cursor-pointer" style="font-size: 2rem" tooltipPosition="top" pTooltip="Prev"
          (click)="prevPage()"></i></div>
      <div (click)="nextPage()"><i class="pi pi-angle-right cursor-pointer" style="font-size: 2rem" pTooltip="Next" tooltipPosition="top"
          ></i></div>
    </div> -->
  </p-card>
</div>
<div class="flex justify-content-center my-5">
  <video controls="false" autoplay loop muted style="width: 70%;">
    <source src="/assets/videos/stock video.mp4" type="video/mp4">
  </video>

</div>
<!-- <ng-container *ngIf="showSpinner">
  <p-progressSpinner class="overlay" strokeWidth="1"></p-progressSpinner>
</ng-container> -->