<div class="grid main">
    <p-card class="col-4">
        <ng-template pTemplate="header">
            <h2 class="pt-1 pl-2 mb-1">Upload execution sheet </h2>
        </ng-template>
        <p-toast></p-toast>
        <p-fileUpload name="demo[]" #fileUpload [multiple]="true"
            (uploadHandler)="uploadExecutionSheet($event,fileUpload)" [customUpload]="true"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </p-card>

    <p-card class="col-4">
        <div class="calculate">
            <h2 class="pl-2 mb-1">Upload path</h2>
            <div>
                <input type="file" id="fileInput" #sendPath [disabled]="!executionList.length"
                    (change)="uploadFolder($event)" multiple webkitdirectory />
            </div>
        </div>
    </p-card>

    <p-card class="col-4">
        <div class="calculate">
            <h2 class="pl-2 mb-1">Calculation</h2>
            <p-button class="pt-1" label="Calculate" [disabled]="!calculateFileNames.length"
                (click)="calculate()"></p-button>
        </div>
    </p-card>
</div>

<div class="grid main">

    <div [ngStyle]="{'width': uploadedStockFiles.length ? 'revert-layer' : '100%' }"
        [ngClass]="{'col-9':  uploadedStockFiles.length}" *ngIf="executionList.length">
        <p-card styleClass="mt-3">
            <ng-template pTemplate="header">
                <div class="stock-header">
                    <h2 class="px-3 pt-3">Execution Sheet</h2>
                </div>
            </ng-template>
            <p-table [value]="executionList" [paginator]="executionList.length > 5" [rows]="5"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sheetNames"> Sheet Name </th>
                        <th pSortableColumn="stockSymbol">Stock Symbol </th>
                        <th pSortableColumn="weightage">Weightage </th>
                        <th pSortableColumn="fallInStock">Fall in Stock </th>
                        <th pSortableColumn="limitLevel">Limit Level </th>
                        <th pSortableColumn="hldDay"> Hld Day </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.sheetNames}}</td>
                        <td>{{product.stockSymbol }}</td>
                        <td>{{product.weightage}}</td>
                        <td>{{product.fallInStock}}</td>
                        <td>{{product.limitLevel}}</td>
                        <td>{{product.hldDay}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>




    <div class="col-3" *ngIf="uploadedStockFiles.length">
        <p-card styleClass="mt-3">
            <ng-template pTemplate="header">
                <div class="stock-header">
                    <h2 class="px-3 pt-3">Stocks Sheet</h2>
                </div>
            </ng-template>
            <p-table [value]="uploadedStockFiles" [paginator]="uploadedStockFiles.length > 5" [rows]="5"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name"> Stock Name </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.name}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

<div class="out-put main" *ngIf="outputData.length">
    <p-card styleClass="mt-3">
        <ng-template pTemplate="header">
            <div class="stock-header">
                <h2 class="px-3 pt-3">Execution Output Table</h2>
                <i class="pi pi-download" style="font-size: 1.5rem;cursor: pointer;" (click)="downloadExcel()"></i>
            </div>
        </ng-template>
        <p-table [value]="outputData" [paginator]="outputData.length > 5" [rows]="5"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="SheetNames">Stock Name </th>
                    <th pSortableColumn="stockSymbol"> Stock Symbol </th>
                    <th pSortableColumn="weightage"> Weightage </th>
                    <th pSortableColumn="fallInStock"> Fall In Stock </th>
                    <th pSortableColumn="limitLevel"> Limit Level </th>
                    <th pSortableColumn="hldDay"> Hld Day </th>
                    <th pSortableColumn="bp"> BP </th>
                    <!-- <th pSortableColumn="posInitiated"> Pos Initiated </th> -->
                    <th pSortableColumn="sloss"> SLOSS </th>
                    <th pSortableColumn="tgt"> TGT </th>
                    <th pSortableColumn="slhit"> SLHIT </th>
                    <th pSortableColumn="tgtHit"> TGTHIT </th>
                    <th pSortableColumn="hld_day"> hld_day </th>
                    <th pSortableColumn="tradeClose"> Trade Close </th>
                    <th pSortableColumn="sp"> SP </th>
                    <th pSortableColumn="carry"> Carry </th>
                    <th pSortableColumn="ret"> RET </th>
                    <th pSortableColumn="nd"> ND </th>
                    <th pSortableColumn="lp"> LP </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.SheetNames}}</td>
                    <td>{{product.stockSymbol}}</td>
                    <td>{{product.weightage}}</td>
                    <td>{{product.fallInStock}}</td>
                    <td>{{product.limitLevel}}</td>
                    <td>{{product.hldDay}}</td>
                    <td>{{product.bp}}</td>
                    <!-- <td>{{product.posInitiated}}</td> -->
                    <td>{{product.sloss}}</td>
                    <td>{{product.tgt}}</td>
                    <td>{{product.slhit}}</td>
                    <td>{{product.tgtHit}}</td>
                    <td>{{product.hld_day}}</td>
                    <td>{{product.tradeClose}}</td>
                    <td>{{product.sp}}</td>
                    <td>{{product.carry}}</td>
                    <td>{{product.ret}}</td>
                    <td>{{product.nd}}</td>
                    <td>{{product.lp}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>


<div class="flex justify-content-center my-5">
    <video controls="false" autoplay loop muted style="width: 70%;">
        <source src="/assets/videos/stock video.mp4" type="video/mp4">
    </video>

</div>