<!-- Footer -->
<div class="bg-white py-3 px-4">
  <div class="grid align-items-center">

    <!-- Left Side -->
    <div class="col-12 xl:col-4 flex align-items-center justify-content-center xl:justify-content-start">
      <span class="mr-2">
        <!-- <img class="footer-logo" src="assets/img/fitness-force.jpg" alt="Fitness Force"
          width="37"> -->

        </span>
      <div>
        <p class="mb-1">© Equity Research. v1.0.0</p>
        <ul class="list-inline flex list-none mb-0 text-xs opacity-70 pl-0 mt-2">
          <li class="mr-3"><a href="#" class="text-600 no-underline hover:text-primary">Terms of Use</a></li>
          <li><a href="#" class="text-600 no-underline hover:text-primary">Privacy Policy</a></li>
        </ul>
      </div>
      <!-- <button pButton pRipple label="Contact Support" icon="pi pi-cog" class="ml-4"></button> -->
    </div>
    <!-- Left Side -->

    <!-- Center Side -->
    <div class="lg:col-3 md:col-6 text-end text-lg-start hidden xl:inline-block">

    </div>
    <!-- Center Side -->

    <!-- Right Side -->
    <div class="lg:col-5 md:col-12 lg:mt-0 mt-4 hidden xl:flex align-items-center justify-content-end">
      <!-- <div class="mr-4">Download your <strong>app</strong> now!</div> -->
      <!-- <div class="flex">
        <a class="mr-2" href="#" target="_blank"><img src="assets/img/apple-logo.svg" alt="Apple" width="66"></a>
        <a class="mr-2" href="#" target="_blank"><img src="assets/img/googleplay-logo.svg" alt="Google Play"
            width="66"></a>
        <span><img src="assets/img/footer-qr-code.jpg" alt="QR Code" width="38"></span>
      </div> -->
    </div>
    <!-- Right Side -->

  </div>
</div>
<!-- Footer -->
