<!-- Footer -->
<div class="main pt-1 px-4">
  <div class="grid align-items-center" style="width: 90%;margin: auto;">
    <!-- Left Side -->
    <div class="col-12 xl:col-4 flex align-items-center justify-content-center xl:justify-content-start">
      <span class="mr-2">
        <!-- <img class="footer-logo" src="assets/img/fitness-force.jpg" alt="Fitness Force"
          width="37"> -->
        </span>
      <div> 
        <ul class="list-inline flex list-none mb-0 pl-0 mt-2">
          <p class="mr-3">Terms of Use</p>
          <p>Privacy Policy</p>
        </ul>
      </div>
     
    </div>
    <!-- Left Side -->

    <!-- Center Side -->
    <div class="lg:col-3 md:col-6 text-end text-lg-start hidden xl:inline-block">
      <p class="mb-1">© Copyright TIWCG 2023. All rights reserved.</p>
    </div>
    <!-- Center Side -->

    <!-- Right Side -->
    <div class="lg:col-5 md:col-12 lg:mt-0 mt-4 hidden xl:flex align-items-center justify-content-end">
      <!-- <div class="mr-4">Download your <strong>app</strong> now!</div> -->
      <!-- <div class="flex">
        <a class="mr-2" href="#" target="_blank"><img src="assets/img/apple-logo.svg" alt="Apple" width="66"></a>
        <a class="mr-2" href="#" target="_blank"><img src="assets/img/googleplay-logo.svg" alt="Google Play"
            width="66"></a>
        <span><img src="assets/img/footer-qr-code.jpg" alt="QR Code" width="38"></span>
      </div> -->
      <p>Powered By : TIWCG
      </p>
    </div>
    <!-- Right Side -->

  </div>
</div>
<!-- Footer -->
